In [17]:
import sqlite3
import pandas as pd

In [2]:
query = """ CREATE TABLE test (a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER );"""

In [3]:
con = sqlite3.connect('mydata.sqlite')

In [4]:
con.execute(query)

In [5]:
con.commit()

In [6]:
data = [('Atlanta', 'Georgia', 1.25, 6), ('Tallahassee', 'Florida', 2.6, 3),('Sacramento', 'California', 1.7, 5)]

In [7]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [8]:
con.executemany(stmt,data)

In [9]:
con.commit()

In [10]:
fetch_data = con.execute("select * from test")

In [12]:
mydata = fetch_data.fetchall()

In [13]:
mydata

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [15]:
fetch_data.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [18]:
df = pd.DataFrame(mydata, columns=[x[0] for x in fetch_data.description])

In [20]:
df

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5