In [1]:
import pandas as pd

In [4]:
df = pd.read_json('jsondata.json')

In [5]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [7]:
import json

In [9]:
data = json.loads(obj)

In [10]:
data

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [11]:
jsondata = json.dumps(data)

In [12]:
jsondata

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [14]:
siblings = pd.DataFrame(data['siblings'], columns=['name', 'age'])

In [15]:
siblings

    name  age
0  Scott   30
1  Katie   38