<center><h1> Pandas Series </h1></center>

In [1]:
import pandas as pd

In [2]:
series = pd.Series([1,2,3,6,6,2,2,5,3,8,8])

In [3]:
series

0     1
1     2
2     3
3     6
4     6
5     2
6     2
7     5
8     3
9     8
10    8
dtype: int64

In [4]:
# series.index=['a','b','c','d','e']

In [5]:
series.value_counts()

2    3
8    2
6    2
3    2
5    1
1    1
dtype: int64

In [6]:
series.values

array([1, 2, 3, 6, 6, 2, 2, 5, 3, 8, 8], dtype=int64)

In [7]:
series.index

RangeIndex(start=0, stop=11, step=1)

# Example

In [8]:
sales = pd.Series([100,50,99,80,64,75,23], index=['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'], name="Sandwich Sale")

In [9]:
sales

Mon     100
Tue      50
Wed      99
Thur     80
Fri      64
Sat      75
Sun      23
Name: Sandwich Sale, dtype: int64

In [10]:
sales.index

Index(['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'], dtype='object')

# Acces Data from Pandas Series

In [11]:
sales[1]

50

In [12]:
sales['Wed']

99

# Select Multiple Values

In [13]:
sales[[1,5]]

Tue    50
Sat    75
Name: Sandwich Sale, dtype: int64

In [14]:
sales[["Mon",'Tue','Sat']]

Mon    100
Tue     50
Sat     75
Name: Sandwich Sale, dtype: int64

In [15]:
sales['Mon':'Fri']

Mon     100
Tue      50
Wed      99
Thur     80
Fri      64
Name: Sandwich Sale, dtype: int64

# Conditional Selection

In [16]:
sales[sales > 70]

Mon     100
Wed      99
Thur     80
Sat      75
Name: Sandwich Sale, dtype: int64

In [17]:
sales[sales < 60]

Tue    50
Sun    23
Name: Sandwich Sale, dtype: int64

# Want to multiply a full series with any number.

In [18]:
sales * 2

Mon     200
Tue     100
Wed     198
Thur    160
Fri     128
Sat     150
Sun      46
Name: Sandwich Sale, dtype: int64

In [19]:
sales =  sales * 2

In [20]:
sales

Mon     200
Tue     100
Wed     198
Thur    160
Fri     128
Sat     150
Sun      46
Name: Sandwich Sale, dtype: int64

In [21]:
sales = sales / 2

In [22]:
sales = sales // 2

In [23]:
sales

Mon     50.0
Tue     25.0
Wed     49.0
Thur    40.0
Fri     32.0
Sat     37.0
Sun     11.0
Name: Sandwich Sale, dtype: float64

In [24]:
'Mon' in sales

True

In [25]:
'Friday' in sales

False

In [26]:
sales.index

Index(['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'], dtype='object')

# We can get data from a numpy array to make a series.

In [27]:
import numpy as np

In [28]:
ar1 = np.array([5,6,9,3,7,8,6,2])

In [29]:
ar2 =  np.array(['a','b','c','d','e','f','g','h'])

In [30]:
numpyseries = pd.Series(ar1, index=ar2)

In [31]:
numpyseries

a    5
b    6
c    9
d    3
e    7
f    8
g    6
h    2
dtype: int32

In [32]:
ar3 = np.array(numpyseries)

In [33]:
ar3

array([5, 6, 9, 3, 7, 8, 6, 2])

# Make series from a dictionary

In [34]:
dict = {"Sales":ar1, "Sandwitch":sales}

In [35]:
series1 = pd.Series(dict)

In [36]:
series1

Sales                                 [5, 6, 9, 3, 7, 8, 6, 2]
Sandwitch    Mon     50.0
Tue     25.0
Wed     49.0
Thur   ...
dtype: object

In [37]:
series1.ndim

1

In [38]:
dict1 = {"A":10,"B":20,"F":30,"D":40,"I":60}

In [39]:
series3 = pd.Series(dict1, index = ['A','B','C','D','E','F','G','H','I'])

In [40]:
series3

A    10.0
B    20.0
C     NaN
D    40.0
E     NaN
F    30.0
G     NaN
H     NaN
I    60.0
dtype: float64

# Check the Null Values in Series

In [41]:
series3.isnull()

A    False
B    False
C     True
D    False
E     True
F    False
G     True
H     True
I    False
dtype: bool

In [42]:
series3.notnull()

A     True
B     True
C    False
D     True
E    False
F     True
G    False
H    False
I     True
dtype: bool

In [43]:
series3.itemsize

C:\Users\syedh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Series.itemsize is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

8

# Now we are going to start Pandas DataFrame

In [44]:
import pandas as pd

In [45]:
data= {"One":series,  "Three":series3}

In [46]:
df = pd.DataFrame(data)

In [47]:
df

    One  Three
0   1.0    NaN
1   2.0    NaN
2   3.0    NaN
3   6.0    NaN
4   6.0    NaN
5   2.0    NaN
6   2.0    NaN
7   5.0    NaN
8   3.0    NaN
9   8.0    NaN
10  8.0    NaN
A   NaN   10.0
B   NaN   20.0
C   NaN    NaN
D   NaN   40.0
E   NaN    NaN
F   NaN   30.0
G   NaN    NaN
H   NaN    NaN
I   NaN   60.0

In [48]:
country = np.array(['London', 'Birmingham', 'Tokyo','Russia','China', 'Pakistan'])

In [49]:
year = np.array([2000,2001,2002,NaN,2004,2005])

NameError: name 'NaN' is not defined

In [ ]:
population = np.array([6000,Nan,NaN,4100,2100,3100])

In [ ]:
data = {'Country':country, 'Year':year,'Population':population}

In [ ]:
population_data = pd.DataFrame(data)

In [ ]:
population_data

In [ ]:
population_data = pd.DataFrame(data, columns=['Year','Country','Population'])

In [ ]:
population_data

In [ ]:
population_data.head(3)

In [ ]:
population_data = pd.DataFrame(data,columns=['Year', 'Country', 'Population','Debt'])

In [ ]:
population_data

In [ ]:
population_data = pd.DataFrame(data,columns=['Year', 'Country', 'Population','Debt'], index=['one', 'Two', 'Three', 'Four', 'Five', 'Six'])

In [ ]:
population_data

In [ ]:
population_data.columns

In [ ]:
population_data.index

# Acces Data from a DataFrame

In [ ]:
population_data['Year']

In [ ]:
population_data['Country']

In [ ]:
population_data.Country

# Accessing data on the basis of condition

In [ ]:
population_data[population_data.Population > 3000]

In [ ]:
population_data[population_data.Population < 3000]

# Till now we have acces to the columns full but not the selected row, now we are going to select the rows from a dataframe.

In [ ]:
population_data

In [ ]:
population_data.loc['Two']

In [ ]:
population_data.loc['one':'Five']

In [ ]:
ln = len(population_data)

In [ ]:
ln

# Now we are going to fill the Debt column

#### One thing must be remember that you number of rows not more than the values you are going to enter

In [ ]:
population_data['Debt'] = [5,9,6,7,5,3]

In [ ]:
population_data

### One way to fill put the values is that you put the values by entering manually, and another way to create a numpy array to fill it out

In [ ]:
import numpy as np

In [ ]:
arng = np.arange(ln)

In [ ]:
arng

In [ ]:
population_data['Debt'] = arng

In [ ]:
population_data

In [ ]:
population_data['Debt'] = population_data['Population'] // 2

In [ ]:
population_data

In [ ]:
val = pd.Series([2100,3600,4400,1984,2536,2132])

In [ ]:
population_data['Debt'] = val

In [ ]:
population_data

## You can see that the values are NaN because the default index are start from 0 and ends on length. But here the indexs are different, so that is the reason the values are NaN. So now we are going to give the indexes to put these values.

In [ ]:
val = pd.Series([2100,3600,4400,1984,2536,2132], index=['one','Two','Three','Four', 'Five','Six'])

In [ ]:
population_data['Debt'] = val

In [ ]:
population_data

In [ ]:
population_data['Debt'].min()

In [ ]:
population_data['Debt'].max()

In [ ]:
val1 = population_data['Debt'].max() - population_data['Debt'].min()

In [ ]:
val1

In [ ]:
f= lambda x: x.max() - x.min()

In [ ]:
def min_max(x):
    minimum = x.min()
    maximum = x.max()
    return pd.Series([minimum, maximum], index=['min', 'max'])

In [ ]:
frame = pd.DataFrame(np.random.randn(4,3), columns=list('bde'), index=['A', 'B', 'C', 'D'])

In [ ]:
frame

In [ ]:
np.abs(frame)

In [ ]:
df = frame.apply(f)

In [ ]:
df

In [ ]:
df = frame.apply(min_max)

In [ ]:
df

In [ ]:
df = frame.apply(f, axis=1)

In [ ]:
df

In [ ]:
df = frame.apply(min_max, axis=1)

In [ ]:
df

In [ ]:
frame

In [ ]:
frame.sort_index()

In [ ]:
frame1 = pd.DataFrame(np.random.randn(4,4), columns=['B','A','Z','T'], index=['D', 'C', 'B','E'])

In [ ]:
frame1

In [ ]:
frame1.sort_index(axis=1)

In [ ]:
frame1.sort_index(axis=0)

In [ ]:
frame1 = frame1.sort_index(axis=0)

In [ ]:
frame1 = frame1.sort_index(axis=1)

In [ ]:
frame1

In [ ]:
frame2 = pd.DataFrame(np.random.randn(4,4), columns=['B','A','Z','T'])

In [ ]:
frame2

In [ ]:
frame2.sort_index(axis=0)

In [ ]:
# frame2.sort_values('A',axis=1)

In [ ]:
frame1

In [ ]:
a = np.arange(4)

In [ ]:
frame1['A'] = a

In [ ]:
b = np.arange(6,10)

In [ ]:
c = np.arange(20,24)

In [ ]:
d = np.arange(15,19)

In [ ]:
e = np.arange(31,35)

In [ ]:
f = np.arange(27,31)

In [ ]:
f

In [ ]:
frame1['B'] = b

In [ ]:
frame1['C'] = c

In [ ]:
frame1['D'] = d

In [ ]:
frame1['T'] = e

In [ ]:
frame1['Z'] = f

In [ ]:
frame1

In [ ]:
frame1= frame1.sort_index(axis=1)

In [ ]:
frame1

In [ ]:
frame1.sort_values(by=['A'],axis=0, ascending=True)

In [ ]:
frame2

In [ ]:
frame3 = pd.DataFrame(np.random.randn(4,4), columns=['B','A','Z','T'])

In [ ]:
frame3

In [ ]:
frame3['B'] = a

In [ ]:
frame3['A'] = e

In [ ]:
frame3['Z'] = f

In [ ]:
frame3['T'] = b

In [ ]:
frame3

In [ ]:
frame3.sort_values(by=['B'])

In [ ]:
frame3.rank(ascending=True, method='max',  axis='columns')

In [ ]:
frame3.sum(axis='columns')

In [ ]:
frame3.sum(axis=0)

In [ ]:
frame3

In [ ]:
frame3['B'].unique

In [ ]:
frame3['Z'].unique

In [ ]:
frame3['Z'].value_counts()

In [ ]:
frame3

In [ ]:
population_data.loc['one',['Year']]

In [ ]:
population_data

In [ ]:
population_data.loc['one':'Five',['Year','Population']]

In [ ]:
population_data.iloc[0:3,[0,2]]

In [ ]:
frame4 = frame1 + frame2

In [ ]:
frame4

# This is because the indexes are not same, if the indexes are same then it will add properly.

In [ ]:
frame

In [ ]:
frame1

In [ ]:
frame2

In [ ]:
frame3

In [ ]:
frame5 = frame + frame1

In [ ]:
frame5

# In this case coloumns are also not matching.

In [ ]:
fr1 = pd.DataFrame(np.random.rand(16).reshape(4*4))

In [ ]:
fr2 = pd.DataFrame(np.arange(20,30).reshape(5*2))

In [ ]:
fr1.dtypes

In [ ]:
fr3 = fr1 + fr2

In [ ]:
fr3

# Now the addition will be done.

In [ ]:
df1 = pd.DataFrame(np.arange(16).reshape(4,4), columns=['A','B','C','D'])

In [ ]:
df2 = pd.DataFrame(np.arange(16,32).reshape(4,4), columns=['A','B','C','D'])

In [ ]:
df3 = df1.add(df2, fill_value=0)

In [ ]:
df3

In [ ]:
df4 = df1 - df2

In [ ]:
df4

In [ ]:
ser = pd.Series(np.arange(4), index=list('ABCD'))

In [ ]:
df3

In [ ]:
df3 - ser

In [ ]:
df3

# Reindexing

In [ ]:
df3

In [ ]:
col = ['A','B','C','D','AB','CD','EF','GH']

In [ ]:
df3.reindex([0,1,2,3,4])

In [ ]:
df3.reindex([0,1,2,3,4,], method='ffill')

In [ ]:
df.reindex(columns=col, index=list('ABCD'))

In [ ]:
df3.reindex(columns=col)

In [ ]:
df3.reindex(columns=col, method='ffill')

In [ ]:
df3.drop_duplicates()

In [ ]:
df3.drop('A', axis=1)

In [ ]:
df3

In [ ]:
df3 = df3.reindex([0,1,2,3,4,5], method='ffill')

In [ ]:
df3

In [ ]:
df3 = df3.reindex([0,1,2,3,4,5,6])

In [ ]:
df3

In [ ]:
df3.dropna()

In [ ]:
df3.drop_duplicates()

In [ ]:
df3.drop('B', axis=1)

In [ ]:
df3.drop(3, axis=0)

In [ ]:
df3 = df3.drop(3, axis=0)

In [ ]:
df3

In [ ]:
df3 = df3.drop('B', axis=1)

In [ ]:
df3

In [ ]:
col1=['A','B','C','D','E']

In [ ]:
df3 = df3.reindex(columns=col1)

In [ ]:
df3

In [ ]:
avg = 24.0

In [ ]:
df3.drop_duplicates()

In [ ]:
avg = 24

In [ ]:
df3 = df3.fillna(avg)

In [ ]:
df3 = df3.drop_duplicates()

In [ ]:
df3

In [ ]:
df3.loc[ :,['A','C']]

In [ ]:
df3.iloc[0:3,0:2]

In [ ]:
df3.loc[:,'A':'C']

In [ ]:
dataframe = pd.read_csv('ex1.csv')

In [ ]:
dataframe

In [ ]:
dataframe1 = pd.read_csv('ex1.csv', header=None, skiprows=1)

In [ ]:
dataframe1

In [ ]:
dataframe1 = pd.read_csv('ex1.csv', header=None, skiprows=1, names=['One', 'Two', 'Three', 'Message'])

In [ ]:
dataframe1

In [ ]:
headers = ['ABC', 'DEF', 'GHI', 'JKL']

In [ ]:
dataframe2 = pd.read_csv('ex1.csv', skiprows=1)

In [ ]:
dataframe2.columns

In [ ]:
dataframe

In [ ]:
dataframe2

In [ ]:
dataframe2

In [ ]:
dataframe3 = pd.read_csv('ex3.csv')

In [ ]:
dataframe3

In [ ]:
dataframe3.columns

In [ ]:
dataframe3.columns = headers

In [ ]:
dataframe3

In [ ]:
dataframe3 = pd.read_csv('ex3.csv', skiprows=2, names=['AB','CD','EF','GH'])

In [ ]:
dataframe3

In [ ]:
dataframe3.drop('GH', axis=1)

In [ ]:
dataframe3

In [ ]:
dataframe3=dataframe3.dropna(subset=['GH'], axis=0)

In [ ]:
dataframe3= dataframe3.dropna(subset=['EF'], axis=0)

In [ ]:
dataframe3

In [ ]:
dataframe3.isnull()

In [ ]:
dataframe3 = pd.read_csv('ex3.csv', na_values='NaN')

In [ ]:
dataframe3

In [ ]:
avg = 4.2

In [ ]:
dataframe3.fillna(avg)

# Hirerichal Index

### it means we use two columns as the column index

In [ ]:
dataframe3 = pd.read_csv('ex1.csv', index_col=['a', 'b'])

In [ ]:
dataframe3

In [ ]:
bigdata = pd.read_excel('Mobile2016.xlsx', header=None, skiprows=10)

In [ ]:
bigdata

In [ ]:
bigdata.info()

In [ ]:
bigdata.dropna()

In [ ]:
dataframe3 = pd.read_csv('ex3.csv', nrows=3)

In [ ]:
chunklist = []

In [ ]:
# for chunk in dataframe3:
#     chunklist.append(chunk)

In [ ]:
dataframe3

In [ ]:
chunks = pd.read_csv('ex3.csv', chunksize=3)

In [ ]:
print(type(chunks), print(chunks))

In [ ]:
for chunk in chunks:
#     print(len(chunk))
    print(chunk.head())
    chunklist.append(chunk)

In [50]:
import numpy as np

In [68]:
se1 = np.array([2,4,5,0,6,8,3,6])

In [69]:
se2 = np.array([6,4,0,0,6,2,8,6])

In [70]:
se3 = np.array([24,55,60,0,8,34,0])

In [71]:
ser1 = pd.Series(se1)

In [72]:
ser2 = pd.Series(se2)

In [73]:
ser3 = pd.Series(se3)

In [74]:
data = {"A":ser1,"B":ser2, "C":se3}

In [75]:
dataf = pd.DataFrame(data, index=['one', 'Two', 'Three', 'Four', 'Five', 'Six','Seven'])

In [76]:
dataf

        A   B   C
one   NaN NaN  24
Two   NaN NaN  55
Three NaN NaN  60
Four  NaN NaN   0
Five  NaN NaN   8
Six   NaN NaN  34
Seven NaN NaN   0

In [77]:
df.dropna(subset=["A"], axis=0)

KeyError: ['A']