In [1]:
print("abc")
print(len("abcjkil"))

abc
7

# User-Defined Function

In [2]:
print("Pakistan Zindabad")
print("We love Pakistan ")

Pakistan Zindabad
We love Pakistan

In [3]:
def abc():
    print("Pakistan Zindabad")
    print("We love Pakistan ")
    a=0
    a+=1
    if(a == 10):
        pass
    abc()

# Required Arguments

In [4]:
def id_card(sid, sname, fname, course, timing):
    text = """
    PIAIC ISlamabad
    id: {}
    Name: {}
    Father Name: {}
    Course: {}
    Timing: {}
    """.format(sid, sname, fname, course, timing)
    print(text)

In [5]:
id_card(1, "Hanad", "Muqaddar", "AI", "9:00 Am")

    PIAIC ISlamabad
    id: 1
    Name: Hanad
    Father Name: Muqaddar
    Course: AI
    Timing: 9:00 Am

In [6]:
id_card(2, "Hamza", "Khalid", "AI", "9:00 Am")

    PIAIC ISlamabad
    id: 2
    Name: Hamza
    Father Name: Khalid
    Course: AI
    Timing: 9:00 Am

In [7]:
data = [[1, "Hanad", "Muqaddar", "AI", "9:00 Am"],
        [2, "Hamza", "Khalid", "AI", "9:00 Am"],
        [3, "Hamza", "Khalid", "AI", "9:00 Am"],
        [4, "Hanad", "Muqaddar", "AI", "9:00 Am"]
       ]

In [8]:
for i in data:
    print(i)

[1, 'Hanad', 'Muqaddar', 'AI', '9:00 Am']
[2, 'Hamza', 'Khalid', 'AI', '9:00 Am']
[3, 'Hamza', 'Khalid', 'AI', '9:00 Am']
[4, 'Hanad', 'Muqaddar', 'AI', '9:00 Am']

In [9]:
for i in data:
    id_card(*i)

    PIAIC ISlamabad
    id: 1
    Name: Hanad
    Father Name: Muqaddar
    Course: AI
    Timing: 9:00 Am


    PIAIC ISlamabad
    id: 2
    Name: Hamza
    Father Name: Khalid
    Course: AI
    Timing: 9:00 Am


    PIAIC ISlamabad
    id: 3
    Name: Hamza
    Father Name: Khalid
    Course: AI
    Timing: 9:00 Am


    PIAIC ISlamabad
    id: 4
    Name: Hanad
    Father Name: Muqaddar
    Course: AI
    Timing: 9:00 Am

In [10]:
data.append([1, "Hanad", "Muqaddar", "AI", "9:00 Am"])

In [11]:
for i in data:
    id_card(*i)

    PIAIC ISlamabad
    id: 1
    Name: Hanad
    Father Name: Muqaddar
    Course: AI
    Timing: 9:00 Am


    PIAIC ISlamabad
    id: 2
    Name: Hamza
    Father Name: Khalid
    Course: AI
    Timing: 9:00 Am


    PIAIC ISlamabad
    id: 3
    Name: Hamza
    Father Name: Khalid
    Course: AI
    Timing: 9:00 Am


    PIAIC ISlamabad
    id: 4
    Name: Hanad
    Father Name: Muqaddar
    Course: AI
    Timing: 9:00 Am


    PIAIC ISlamabad
    id: 1
    Name: Hanad
    Father Name: Muqaddar
    Course: AI
    Timing: 9:00 Am

# Optional Arguments

In [12]:
def abc2(x,y=1,z=3):
    print(x,y,z)
    print(x + y + z)

In [13]:
abc2(5)

5 1 3
9

# Non Return Functions

In [14]:
abc3 = print("Pakistan")
print(abc3)

Pakistan
None

# Return Functions

In [15]:
def id_card(sid, sname, fname, course, timing):
    text = """
    PIAIC ISlamabad
    id: {}
    Name: {}
    Father Name: {}
    Course: {}
    Timing: {}
    """.format(sid, sname, fname, course, timing)
    return text, "Hanad", "Hamza"

In [16]:
for i in range(3):
    print(id_card(1,"A", "B", "C","D")[i])
#     print(*id_card(1,"A", "B", "C","D"))

    PIAIC ISlamabad
    id: 1
    Name: A
    Father Name: B
    Course: C
    Timing: D

Hanad
Hamza

# Keyword Arguments

In [17]:
print(*id_card(1, fname="Muqaddar",sname="Hanad", timing="9AM", course="AI"))

    PIAIC ISlamabad
    id: 1
    Name: Hanad
    Father Name: Muqaddar
    Course: AI
    Timing: 9AM
     Hanad Hamza

# Argument With List

In [18]:
def id_card(sid, sname, fname, course, timing):
    text = """
    PIAIC ISlamabad
    id: {}
    Name: {}
    Father Name: {}
    Course: {}
    Timing: {}
    """.format(sid, sname, fname, course, timing)
    return text
l1 = [1, "Ali", "Qasim", "AI", "9"]

In [19]:
print(id_card(*l1))

    PIAIC ISlamabad
    id: 1
    Name: Ali
    Father Name: Qasim
    Course: AI
    Timing: 9

# Recursive Function

In [24]:
def factrioal(n):
    if n == 1:
        return 1
    return n * factrioal(n-1)

In [25]:
factrioal(6)

720

# Genarator Function

In [32]:
def gen():
    for i in range(10):
        yield i
a = gen()
print(a)
print(next(a))

<generator object gen at 0x000001127BDC7D48>
0

# Lamda Function

In [33]:
xyz = lambda a,b: a + b

In [34]:
xyz(4,5)

9

In [36]:
xyz = lambda x,y : 
    if x > y:
        print(x) 
    elif y > x : 
        print(y) 
    else: 
        print("Equal")

SyntaxError: invalid syntax (<ipython-input-36-3ee42a881d05>, line 1)

In [40]:
xyz = lambda x,y : if(x > y): print("x"): print("y")

SyntaxError: invalid syntax (<ipython-input-40-1f2d44436400>, line 1)

In [41]:
xyz = lambda x,y: if x > y print(x) else print(y)

SyntaxError: invalid syntax (<ipython-input-41-23e6310a6906>, line 1)