 # Hi salam to all of You, U can Learn Python from my github Gists. Link is
 https://gist.github.com/Hanad-Muqaddar 
 
 ## From 1st gist to onwards

## Our First PROGRAM in python

In [1]:
print("Hello world")

Hello world

## Using python as simple Calculator

In [2]:
print(5+8)

13

## Hash # sign is used for comments here.

In [3]:
# tHIS Is our first comment.

## Multi line Comment  '''      '''

In [4]:
'''
Hello world
This is a multiline comment.
'''

'\nHello world\nThis is a multiline comment.\n'

 ## Variables

In [5]:
a = 45

In [6]:
b = 55.6

In [7]:
c = "Hanad"

In [8]:
c?

In [9]:
b?

In [10]:
 print(a +b)

100.6

## We dont need to define the data type of a variable

## Variable cannot start with a number

## variable can start with underscore or a letter.

## It can only contains alpha numeric Characters
## Example: c* this is not a variable

## Variables name are case sensitive.

In [11]:
type(a)

int

In [12]:
type(b)

float

In [13]:
type(c)

str

In [14]:
 print(a + 5)

50

## Type casting

In [15]:
d = str(a)

In [16]:
type(d)

str

In [17]:
e= int(b)

In [18]:
type(e)

int

### String Slicing

In [19]:
name = "Hanad Muqaddar"

In [20]:
name[0]

'H'

In [21]:
name[0:5]

'Hanad'

In [22]:
name[4:7]

'd M'

In [23]:
name[:8]

'Hanad Mu'

In [24]:
name[4:]

'd Muqaddar'

## Strip Function

## Example:

In [25]:
name1 = "     hanad    "  ## here we include the spaces so look at the results

In [26]:
print(name1)

     hanad

## you realize that there are spaces but when we use strip function then what happaned:

In [27]:
print(name1.strip())

hanad

## see the difference

## Another eXAMPLE:

In [28]:
name2 = "                            ALI is a bad boy"

In [29]:
print(name2)

                            ALI is a bad boy

In [30]:
print(name2.strip())

ALI is a bad boy

## if you want to know the length of a name2:

In [31]:
len(name2)

44

In [32]:
len(name2.strip())

16

## see the differnce

## some other functons

In [33]:
name3 = "hanad Muqaddar"

In [34]:
name3.upper()

'HANAD MUQADDAR'

In [35]:
name3.lower()

'hanad muqaddar'

In [36]:
name3.replace("a", "v")

'hvnvd Muqvddvr'

In [37]:
ac = "He is a "

In [38]:
vc = "Bad boy"

In [39]:
ac + vc

'He is a Bad boy'

In [40]:
n = "Ali"

In [41]:
m = "Kamran"

In [42]:
show = "{} is a good boy and {} is a bad boy".format(n,m)

In [43]:
print(show)

Ali is a good boy and Kamran is a bad boy

In [44]:
show = "{} is a good boy and {} is a bad boy".format(m,n)

In [45]:
print(show)

Kamran is a good boy and Ali is a bad boy

In [46]:
show = "{1} is a good boy and {0} is a bad boy".format(n,m)
print(show)

Kamran is a good boy and Ali is a bad boy

## F-string

In [47]:
show = f"{n} is a good boy"
print(show)

Ali is a good boy

 # Operators

In [50]:
z= 4
x = 5
y = 7
w = 9

### Addition operator

In [51]:
z + x

9

In [52]:
y + w

16

### Subtraction Operator

In [54]:
x - y

-2

In [55]:
w - y

2

### Multiplication Operator

In [56]:
x *w

45

### Division Operator

In [57]:
w / z

2.25

In [58]:
x / y

0.7142857142857143

### Exponential operator

In [60]:
3**3

27

In [62]:
3**4

81

In [64]:
27 *3

81

In [65]:
x**z

625

### Floor Division

In [66]:
w//z

2

In [67]:
x // y

0

## Modulo Operator

In [68]:
x % y

5

## This is basically the reminder

# Python Collection 
### Lists
### sets
### Tuple
### Dictionary

In [69]:
l = [1,4,5,8,19,"Ali"]

In [70]:
l

[1, 4, 5, 8, 19, 'Ali']

In [71]:
type(l)

list

##  Slicing of list

In [72]:
l[0]

1

In [73]:
l[0:6]

[1, 4, 5, 8, 19, 'Ali']

In [74]:
l[2] = 67

In [75]:
l

[1, 4, 67, 8, 19, 'Ali']

In [76]:
len(l)

6

In [77]:
l.append(100)

In [78]:
l

[1, 4, 67, 8, 19, 'Ali', 100]

In [84]:
l.clear()

In [85]:
l

[]

In [86]:
l2 = [1,4,5,8,19,"Ali"]

In [87]:
l2.insert(4, 56)

In [88]:
l2

[1, 4, 5, 8, 56, 19, 'Ali']

In [89]:
l2.insert(3, "Hanad")

In [90]:
l2

[1, 4, 5, 'Hanad', 8, 56, 19, 'Ali']

In [91]:
l2.remove(5)

In [92]:
l2

[1, 4, 'Hanad', 8, 56, 19, 'Ali']

In [93]:
l2.pop()

'Ali'

In [94]:
del l2[0]

In [95]:
l2

[4, 'Hanad', 8, 56, 19]

## Tuple

In [103]:
t = (23, 56,"Ali", "Rohan", 23, 23, 56, 7, 8, 9, 5, 7, 8, 5)

In [104]:
t

(23, 56, 'Ali', 'Rohan', 23, 23, 56, 7, 8, 9, 5, 7, 8, 5)

## Tupl can't be changeable

In [107]:
t.count(7)

2

In [111]:
t.index(5)

10

In [113]:
a = list(t)

In [114]:
type(a)

list

# Sets

In [115]:
s1 = {1,2,3, 4,2,3, 1, 5, 7, 6, 8 , 9, 4, 3}

In [116]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [117]:
 s1.add(99)

In [119]:
len(s1)

10

In [120]:
s1.difference()

{1, 2, 3, 4, 5, 6, 7, 8, 9, 99}

In [121]:
s1.remove(4)

In [122]:
s1

{1, 2, 3, 5, 6, 7, 8, 9, 99}

In [130]:
s2 = {55, 77, 88, 3, 6, 0, 7, 44, 6, 33, 55}

In [126]:
s1.intersection(s2)

{3, 6, 7}

In [127]:
s1.union(s2)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 33, 44, 55, 77, 88, 99}

In [128]:
s1.pop()

1

In [129]:
s2.pop()

0

In [131]:
s1.issubset(s2)

False

In [132]:
s1.isdisjoint(s2)

False

In [135]:
s1.issuperset(s2)

False

In [137]:
s1.update([32])

# Dictionary

In [141]:
mydic = {
    "name": "Hanad",
    "roll_no" : "16-Arid-1172",
    "Class" : "Bs-It",
    "Section" : "B"
}

In [142]:
mydic.keys()

dict_keys(['name', 'roll_no', 'Class', 'Section'])

In [143]:
mydic.items()

dict_items([('name', 'Hanad'), ('roll_no', '16-Arid-1172'), ('Class', 'Bs-It'), ('Section', 'B')])

In [146]:
mydic["name"]

'Hanad'

In [147]:
 mydic.popitem()

('Section', 'B')

In [148]:
mydic.values()

dict_values(['Hanad', '16-Arid-1172', 'Bs-It'])