<center><h1> Pandas Series </h1></center>

In [1]:
import pandas as pd

In [7]:
series = pd.Series([1,2,3,6,6,2,2,5,3,8,8])

In [8]:
series

0     1
1     2
2     3
3     6
4     6
5     2
6     2
7     5
8     3
9     8
10    8
dtype: int64

In [10]:
# series.index=['a','b','c','d','e']

In [11]:
series.value_counts()

2    3
8    2
6    2
3    2
5    1
1    1
dtype: int64

In [13]:
series.values

array([1, 2, 3, 6, 6, 2, 2, 5, 3, 8, 8], dtype=int64)

In [14]:
series.index

RangeIndex(start=0, stop=11, step=1)

# Example

In [30]:
sales = pd.Series([100,50,99,80,64,75,23], index=['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'], name="Sandwich Sale")

In [31]:
sales

Mon     100
Tue      50
Wed      99
Thur     80
Fri      64
Sat      75
Sun      23
Name: Sandwich Sale, dtype: int64

In [32]:
sales.index

Index(['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'], dtype='object')

# Acces Data from Pandas Series

In [40]:
sales[1]

50

In [42]:
sales['Wed']

99

# Select Multiple Values

In [43]:
sales[[1,5]]

Tue    50
Sat    75
Name: Sandwich Sale, dtype: int64

In [44]:
sales[["Mon",'Tue','Sat']]

Mon    100
Tue     50
Sat     75
Name: Sandwich Sale, dtype: int64

In [48]:
sales['Mon':'Fri']

Mon     100
Tue      50
Wed      99
Thur     80
Fri      64
Name: Sandwich Sale, dtype: int64

# Conditional Selection

In [51]:
sales[sales > 70]

Mon     100
Wed      99
Thur     80
Sat      75
Name: Sandwich Sale, dtype: int64

In [52]:
sales[sales < 60]

Tue    50
Sun    23
Name: Sandwich Sale, dtype: int64

# Want to multiply a full series with any number.

In [56]:
sales * 2

Mon     200
Tue     100
Wed     198
Thur    160
Fri     128
Sat     150
Sun      46
Name: Sandwich Sale, dtype: int64

In [58]:
sales =  sales * 2